HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Local spring configs ###
application-local.yaml

### Application Logs ###
logs/*
core/logs/*

### MacOS ###
.DS_Store